<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="icon" href="./img/weather.png" type="image/x-icon">
  <title>Home</title>
</head>
<body>
  <div class="main-content">
    {{>header}}
    <p>Type the name of the city and press submit</p>
    <form action="">
      <input type="text" placeholder="city name" id="address">
      <button type="submit">Search</button>
    </form>
    <p id="p1"></p>
    <p id="p2"></p>
  </div>
    {{>footer}}
  <script src="/js/app.js"></script>
</body>
</html>

